@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-body;
    color: $text-dark;
    overflow-x: hidden;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    font-family: $font-heading;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 48px;
}

.btn {
    display: inline-block;
    padding: 20px 40px;
    background-color: $primary-color;
    color: $text-dark;
    border: none;
    border-radius: 9px;
    font-family: $font-body;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 400px;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    &--size-small {
        width: 115px;
        height: 45px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }

    &--color-wb {
        background-color: #9D27B1;
        color: $text-light;
    }

    &--color-ozon {
        background-color: #005CFE;
        color: $text-light;
    }

    &--width-full {
        width: 100%;
    }
}