@import 'normalize';
@import 'variables';
@import 'settings';
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/about';
@import 'blocks/advantages';
@import 'blocks/reviews';
@import 'blocks/products';
@import 'blocks/contacts';
@import 'blocks/footer';
@import 'media';