@import '../variables';

.reviews {
    padding: $section-padding;
    background-color: white;

    &__title {
        font-family: $font-heading;
        font-weight: bold;
        font-size: 48px;
        margin-bottom: 48px;
        text-align: left;
    }

    &__title-accent {
        color: $accent-pink;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    &__card {
        position: relative;
        padding: 30px;
        background-color: #F9DAE2;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__quotes {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 55px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__text {
        margin-bottom: 29px;
        flex: 1;
    }

    &__text-bold {
        font-weight: bold;
        font-size: 21px;
        margin-bottom: 10px;
        max-width: 90%;
    }

    &__text-regular {
        font-size: 17px;
        line-height: 1.5;
    }

    &__author {
        display: flex;
        align-items: center;
        margin-top: auto;
        min-height: 90px;
    }

    &__author-photo {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin-right: 20px;
        object-fit: cover;
        flex-shrink: 0;
    }

    &__author-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__author-name {
        font-weight: bold;
        font-size: 19px;
        margin-bottom: 10px;
    }

    &__rating {
        display: flex;
        gap: 13px;
    }

    &__star {
        width: 29px;
        height: 28px;
        background-color: #FFD700;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }
}